@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/*************************************************************
 * TABLE OF CONTENTS
 * =================
 * 1. GENERAL/DEFAULT STYLES
 * 2. HEADER
 * -- 2a. Navigation
 * 3. MAIN CONTENT
 * -- 3a. Intro Section
 * -- 3b. Featured Work Section
 * -- 3c. Contact Section
 * 4. FOOTER
 * 5. MEDIA QUERIES
 * -- 5a. Tablet
 * -- 5b. Phone
 *************************************************************/

/* 1. GENERAL/DEFAULT STYLES */
:root{
    --navy: #293C53;
    --pink:#F3DCCF;
    --blue: #949DA9;
  }

html{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box; 
}

body{
    color: var(--navy);
    margin: 0;
    font-size: 1.25em;
    font-weight: 400;
    /* grid container */
    display: grid;
}

.contentWrapper{
    max-width: 1366px;
    margin: 0;
    padding: 0 115px;
}

h2{
    margin: 0;
    font-size: 1.875em;
    font-weight: 700;
}

p{
    color: black;
}

img{
    max-width: 100%;
    height: auto;
}

.pageContent{
    padding-top: 27px;
    padding-bottom: 111px;
}

/* 2. HEADER */
header{
    /* grid container */
    display: grid;
}

#header{
    padding-top: 30px;
    padding-bottom: 32px;
    /* flex container */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style-type: none;
}

/* -- 2a. Navigation */
#inlineMenu{
    /* flex container */
    display: flex;
    justify-content: center;
    gap: 37px;
}

.deadNav{
    font-weight: 700;
}

.menuButton{
    font-size: 1.25em;
    display: none;
}

#closeButton{
    color: white;
}

.menuButton{
    background: none;
    border: none;
    padding: 0;
}

#dropdownMenu{
    display: none;
    background-color: var(--navy);
    position: relative;
    z-index: 100;
}

#dropdownMenu ul{
    padding: 0;
    margin-top: 34px;
    margin-bottom: 33px;
    /* flex container */
    display: flex;
    flex-direction: column;
    gap: 24px;
}

a{
    color: var(--navy);
    text-decoration: none;
}

a:hover{
    color: var(--blue);
}

#dropdownMenu a{
    color: white;
}

/* 3. MAIN CONTENT */
main{
    display: grid;
}

/* -- 3a. Intro Section */
#introSection{
    /* grid container */
    display: grid;
    grid-template-columns: minmax(550px, 1fr) minmax(400px, 1fr);
    grid-template-areas: "bio image"
                         "bio image"
                         "bio image";
                        
}

.pageHeading{
    padding-top: 40px;
}

#bio{
    padding-bottom: 120px;
    /* flex container */
    display: flex;
    flex-direction: column;
    gap: 27px;
}

#emailAddress{
    /* flex container */
    display: flex;
    gap: 1em;
    align-items: center;
}

#introImage{
    /* flex container */
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

h1{
    font-size: 3.125em;
    margin: 0;
}

#introText{
    margin: 0;
}

.boldText{
    font-weight: 600;
}

#aboutMeButton{
    background-color: var(--pink);
    color: var(--navy);
    width: 189px;
    height: 50px;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

#aboutMeButton:hover{
    background-color: var(--blue);
    color: white;
}

#introBottom{
    background-color: var(--navy);
    height: 50px;
    position: relative;
    z-index: -1;
    top: -47px;
}

/* -- 3b. Featured Work Section */
#featuredWorkSection{
    background-color: var(--navy);
    color: white;
    padding-top: 20px;
    padding-bottom: 56px;
    position: relative;
    top: -50px;
    /* z-index: -1; */
}

#featuredWorkImgs{
    padding-top: 37px;
    /* flex container */
    display: flex;
    column-gap: 4%;
    row-gap: 37px;
}

.featureWorkImg{
    border: 5px solid white;
    border-radius: 10px;
    background-color: white;
    width: 27%;
}

.featuredWork{
    background-color: white;
    border-radius: 10px;
    padding: 1em;
}

.featuredWork h3{
    color: var(--navy);
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
}

.featuredWork:hover{
    transform: scale(1.05);
}

/* -- 3c. Contact Section */
#contactSection{
    margin-top: 29px;
    margin-bottom: 111px;
    /* grid container */
    display: grid;
    grid-template-columns: minmax(300px, 0.75fr) 2fr;
    gap: 141px;
}

#contactImage{
    /* flex container */
    display: flex;
    align-items: center;
}

#form{
    /* flex container */
    display: flex;
    justify-content: right;
}

form{
    background-color: var(--pink);
    border-radius: 20px;
    padding: 40px 73px;
}

input, textarea{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--navy);
    border-radius: 10px;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 27px;
    padding: 0.5em;
}

input{
    height: 40px;
}

textarea{
    height: 100px;
    
    font-family: 'Inter', sans-serif;
}

#submitButton{
    background-color: var(--navy);
    color: white;
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

#submitButton:hover{
    background-color: var(--blue);
    color: white;
}

#sumbit{
    text-align: right;
}

#formHeading{
    padding-bottom: 28px;
}

/* 4. FOOTER */
footer{
    background-color: var(--navy);
    color: white;
}

#footer{
    padding-top: 46px;
    padding-bottom: 46px;
    /* flex container */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#socials{
    /* flex container */
    display: flex;
    gap: 28px;
}


/* ABOUT PAGE */
#aboutSection{
    /* flex container */
    display: flex;
    gap: 50px;
}

#headshot{
    border-radius: 5%;
}

#profileHeadshot{
    flex: 1;
    padding-top: 25px;
}

#profileParagraph{
    flex: 2;
}

/* MY WORK PAGE */
#allProjects{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.project{
    border: 1px solid var(--navy);
    border-radius: 10px;
    padding: 32px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 1.5em;
}

/* .project:hover{
    border: 3px solid var(--navy);
} */

.projectBtn{
    /* background-color: var(--navy); */
    width: 100px;
    height: 40px;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--navy);
}

.projectBtn a{
    color: var(--navy);
}

.projectBtn:hover{
    background-color: var(--pink);
}

/* 5. MEDIA QUERIES */

/* --5a. Tablet */
@media screen and (max-width:768px){
    /* 1. GENERAL/DEFAULT STYLES */
    body{
        font-size: 1.125em;
    }
    
    .contentWrapper{
        max-width: 768px;
        padding: 0 66px;
    }
    
    h2{
        font-size: 1.75em;
    }

    /* 2. HEADER */
    #header{
        padding-top: 35px;
        padding-bottom: 29px;
    }

    #inlineMenu{
        position: absolute;
        left: -10000px;
    }

    #hamburgerMenu{
        display: block;
    }

    /* 3. MAIN CONTENT */

    /* -- 3a. Intro Section */
    #aboutMeButton{
        font-size: 18px;
    }

    #introSection{
        /* grid */
        grid-template-columns: minmax(500px, 1fr) minmax(268px, 1fr);
    }

    #bio{
        padding-bottom: 170px;
    }

    #introBottom{
        top: -31px;
    }

    /* -- 3b. Featured Work Section */
    #featuredWorkSection{
        top: -35px;
    }

    #featuredWorkImgs{
        flex-flow: wrap;
    }

    .featureWorkImg:first-child{
        width: 100%;
    }

    .featureWorkImg:not(:first-child){
        flex: 1;
    }

     /* -- 3c. Contact Section */
    #contactSection{
        margin-top: 46px;
        margin-bottom: 90px;
        /* grid */
        grid-template-columns: minmax(200px, 0.75fr) 2fr;
        gap: 44px;
    }

    /* ABOUT PAGE */
    #aboutSection{
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    #profileHeadshot{
        width: 50%;
        margin: auto;
    }

    #profileParagraph{
        width: 100%;
    }

    /* MY WORK PAGE */

    .project{
        grid-template-columns: 1fr;
        gap: 1.5em;
    }
}

/* -- 5b. Phone */
@media screen and (max-width:480px){
    /* 1. GENERAL/DEFAULT STYLES */
    body{
        font-size: 0.875em;
    }
    
    .contentWrapper{
        max-width: 480px;
        padding: 0 37px;
    }
    
    h2{
        font-size: 1.25em;
    }

    /* 2. HEADER */
    #header{
        padding-top: 30px;
        padding-bottom: 22px;
        gap: 1em;
    }

    #headerLogoImage{
        width: 175px;
    }

    #dropdownMenu ul{
        margin-top: 26px;
        margin-bottom: 26px;
        /* flex container */
        gap: 18px;
    }

    .menuButton{
        font-size: 1em;
    }

    /* 3. MAIN CONTENT */

    /* -- 3a. Intro Section */
    h1{
        font-size: 1.75em;
    }

    #aboutMeButton{
        font-size: 14px;
        width: 100px;
        height: 30px;
        border-radius: 5px;
    }

    #introSection{
        /* grid */
        grid-template-columns: 1fr;
    }

    #bio{
        padding-top: 15px;
        padding-bottom: 26px;
        /* grid */
        grid-column: 1;
        grid-row: 1;
    }

    #introImage{
        justify-content: center;
        /* grid */
        grid-column: 1;
        grid-row: 2;
    }

    #computerGraphic{
        max-width: 200px;
        min-width: 200px;
    }

    #introBottom{
        top: -23.5px;
    }

    /* -- 3b. Featured Work Section */
    #featuredWorkSection{
        top: -26px;
        padding-top: 0;
    }

    #featuredWorkImgs{
        flex-flow: wrap;
    }

    .featureWorkImg{
        width: 100%;
    }

    #featuredWorkHeading{
        margin-top: 30px;
    }

    /* -- 3c. Contact Section */
    #contactSection{
        margin-top: 16.5px;
        margin-bottom: 66px;
        /* grid */
        grid-template-columns: 1fr;
    }

    #contactImage{
         /* flex container*/
        justify-content: center;
    }

    #skillsGraphic{
        width: 171px;

    }

    form{
        padding: 26px;
        width: 80%;
    }

    input, textarea{
        font-size: 0.875em;
    }

    #submitButton{
        font-size: 14px;
        height: 30px;
        border-radius: 5px;
    }

    #formHeading{
        padding-bottom: 19px;
    }

    /* 4. FOOTER */
    #footer{
        flex-direction: column-reverse;
        gap: 23px;
    }
}